@import "./variables";

.my_carousel_card {
  width: 40%;
  height: auto;
  min-width: 270px;
  margin: 0 auto;
  border-radius: 20px;
  border: solid 2px $my-border-bottom-color;
  cursor: pointer;
  background-color: $my-carousel-card-photo-bg-color;
  h5,
  p {
    margin: 5%;
  }
  img {
    border-radius: 18px 18px 18px 18px;
    background-color: $my-carousel-card-photo-bg-color;
  }
}

.card-body {
  background-color: $my-brightest-one;
  padding: 2%;
  border-radius: 0 0 18px 18px;
}
