@import "./variables";

header {
  background-color: $my-header-bg-color;
  min-height: 300px;
  background-image: $pp_background-img;
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: center;
  padding-top: 15%;
  border-bottom: solid 1px $my-border-bottom-color;
}

@media screen and (max-width: 992px) {
  header {
    background-image: none;
  }
}
