@import "./variables";

nav {
  background-color: $my-nav-bg-color;
  display: block;
  border-bottom: solid 2px $my-border-bottom-color;
  ul {
    padding: 0;
    list-style-type: none;
    font-size: 1.2em;
    display: flex;

    li {
      margin-right: 10px;
    }
  }
}

.my_logo {
  width: 110px;
  height: auto;
  color: $my-nav-icons-text-color !important;
}

.my_nav_link {
  color: $my-nav-icons-text-color !important;
}

.my_nav_link:hover {
  color: $my-brightest-one !important;
}

.nav_social_icons {
  margin-left: 4%;
  color: $my-nav-icons-text-color !important;
}

.nav_social_icons:hover {
  color: $my-brightest-one !important;
  scale: 120%;
}

@media screen and (max-width: 992px) {
  .nav_social_icons:hover {
    scale: 100%;
  }
}

.bi-list {
  font-size: 30px;
}
