@import "./variables";
.my_spotlight_card {
  height: auto;
  min-width: 270px;
  margin: 0 auto;
  border-radius: 20px;
  border: solid 2px $my-border-bottom-color;
  cursor: pointer;
  background-color: $my-brightest-one;
  h5,
  p {
    margin: 5%;
  }
  img {
    border-radius: 18px 10px 18px 10px;
    padding: 20px;
  }
}

.my_spotlight_card_body {
  background-color: $my-brightest-one;
  padding: 2%;
  border-radius: 18px 18px 18px 18px;
}
