//COLORS//

$my-body-bg-color: #ecefe7;
$my-nav-bg-color: #bdeb9e;
$my-border-bottom-color: #2a3324;
$my-nav-icons-text-color: #3b4833;
$my-header-bg-color: #e4f5d8;
$my-header-text-border-color: #a6c193;
$my-partners-logos-bg-color: #3b4833;
$my-carousel-card-photo-bg-color: rgb(157, 191, 227);
$my-footer-bg-color: #3b4833;
$my-footer-text-color: #e4f5d8;
$my-darkest-one: black;
$my-brightest-one: #e7f2ed;
$my-hover-text-color: #6a934c;

$my-buttons-bg-color: #3b4833;
$my-buttons-text-color: #ecefe7;

//DARK MODE COLORS//
$dark-my-body-bg-color: rgb(64, 108, 156);
$dark-my-nav-bg-color: #172e47;
$dark-my-border-bottom-color: rgb(78, 126, 230);
$dark-my-nav-icons-text-color: rgb(188, 200, 228);
$dark-my-header-bg-color: rgb(64, 108, 156);
$dark-my-partners-logos-bg-color: #172e47;
$dark-my-carousel-card-photo-bg-color: rgb(40, 60, 102);
$dark-my-footer-bg-color: rgb(40, 60, 102);
$dark-my-footer-text-color: rgb(157, 191, 227);
$dark-my-darkest-one: white;
$dark-my-brightest-one: black;
$dark-my-buttons-bg-color: rgb(157, 191, 227);
$dark-my-buttons-text-color: rgb(40, 60, 102);

$current-theme: "light";

/*TEXT FEATURES*/

/*FONTS*/
$body_font: "Roboto", monospace;

/*h1*/
$h1_color_personal: $my-darkest-one;
$h1_font_size_personal: 9vh;
$h1_font-weight_personal: 700;
$h1_letter-spacing_personal: 3.4px;
$h1_word-spacing_personal: 6px;
$h1_text-transform_personal: none;
$h1_text-shadow_personal: -1px 0 $my-header-text-border-color,
  0 1px $my-header-text-border-color, 1px 0 $my-header-text-border-color,
  0 -1px $my-header-text-border-color;

/*h2*/
$h2_color_personal: $my-darkest-one;
$h2_font_size_personal: 4vh;
$h2_font-weight_personal: 600;
$h2_letter-spacing_personal: 3.4px;
$h2_word-spacing_personal: 6px;
$h2_text-transform_personal: none;
$h2_text-shadow_personal: -1px 0 $my-header-text-border-color,
  0 1px $my-header-text-border-color, 1px 0 $my-header-text-border-color,
  0 -1px $my-header-text-border-color;

/*h3*/
$h3_color_personal: $my-darkest-one;
$h3_font_size_personal: 4vh;
$h3_font-weight_personal: 600;
$h3_letter-spacing_personal: 3.4px;
$h3_word-spacing_personal: 6px;
$h3_text-transform_personal: none;
$h3_text-shadow_personal: -1px 0 $my-header-text-border-color,
  0 1px $my-header-text-border-color, 1px 0 $my-header-text-border-color,
  0 -1px $my-header-text-border-color;
/*h4*/
/*h5*/

/*Body Background Image*/

$my-body-bg-img: url("../img/bg/wp.png");
$dark-my-body-bg-img: url("../img/bg/wp-dark.jpg");

/*Primo Piano Background Image*/

$pp_background-img: url("../img/astro_programmer.png");
